body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;
  background: #fff;
}
 
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}